@using ActiveQueryBuilder.Web.Core.HtmlHelpers
@model ActiveQueryBuilder.Web.Server.QueryBuilder
@{
    ViewBag.Title = "jQueryUI Theming Demo";
    var controls = Html.QueryBuilder(Model, ViewContext.HttpContext.Request, s => s.Theme = "jqueryui");
}

<div class="row">
    <div class="col-md-12">
        <h1>jQueryUI Theming Demo</h1>
        <p>Apply and jQueryUI skin to Active Query Builder UI.</p>
        <div class="header ui-widget-header">
            <div id="switcher"></div>
        </div>
    </div>
    <div class="col-md-12">
        @controls.GetHtml()
        <div class="qb-ui-layout">
            <div class="qb-ui-layout__top">
                <div class="qb-ui-layout__left">
                    <div class="qb-ui-structure-tabs">
                        <div class="qb-ui-structure-tabs__tab">
                            <input type="radio" id="tree-tab" name="qb-tabs" checked />
                            <label for="tree-tab">Database</label>
                            <div class="qb-ui-structure-tabs__content">
                                @controls.ObjectTreeView().GetHtml()
                            </div>
                        </div>
                    </div>
                </div>
                <div class="qb-ui-layout__right">
                    @controls.SubQueryNavigationBar().GetHtml()
                    @controls.Canvas().GetHtml()
                    @controls.StatusBar().GetHtml()
                    @controls.Grid().GetHtml()
                </div>
            </div>
            <div class="qb-ui-layout__bottom">
                @controls.SqlEditor().GetHtml()
            </div>
        </div>
    </div>
</div>

@section styles {
    <style>
        #switcher, .jquery-ui-switcher-link {
            height: 22px !important;
        }

        .header {
            margin-bottom: 10px;
        }
    </style>
}

@section scripts {
    <script type="text/javascript" language="JavaScript" src="./js/jquery.themeswitcher.min.js"></script>
    <script>
        $(function () {
            $("#switcher").themeswitcher({
                imgpath: "./images/themeroller/",
                jqueryuiversion: "1.12.1"
            });
        });
    </script>
}