@using ActiveQueryBuilder.Web.Core.HtmlHelpers
@using ActiveQueryBuilder.Core.QueryTransformer
@using ActiveQueryBuilder.View.QueryView
@model ActiveQueryBuilder.Web.Server.QueryBuilder
@{
    ViewBag.Title = "Display Query Results Demo";
    var controls = Html.QueryBuilder(Model, ViewContext.HttpContext.Request, m => m.Theme = "jqueryui");
}

<div class="row">
    <div class="col-md-12">
        <h1>Display Query Results Demo</h1>
        <p>Displaying SQL query results and modifying SQL queries while browsing the data.</p>
    </div>
</div>
<div id="main-tabs" class="block-flat">
    <ul>
        <li><a href="#qb">Query Builder</a></li>
        <li><a href="#qr">Query Results</a></li>
    </ul>
    <div class="row" id="qb">
        <div class="col-md-12">
            @controls.GetHtml()
            <div class="qb-ui-layout">
                <div class="qb-ui-layout__top">
                    <div class="qb-ui-layout__left">
                        <div class="qb-ui-structure-tabs">
                            <div class="qb-ui-structure-tabs__tab">
                                <input type="radio" id="tree-tab" name="qb-tabs" checked />
                                <label for="tree-tab">Database</label>
                                <div class="qb-ui-structure-tabs__content">
                                    @controls.ObjectTreeView().GetHtml()
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="qb-ui-layout__right">
                        @controls.SubQueryNavigationBar().GetHtml()
                        @controls.Canvas().GetHtml()
                        @controls.StatusBar().GetHtml()
                        @controls.Grid(s =>
                        {
                            s.UseCustomExpressionBuilder = AffectedColumns.AllColumns;
                            s.OrColumnCount = 0;
                        }).GetHtml()
                    </div>
                </div>
                <div class="qb-ui-layout__bottom">
                    @controls.SqlEditor().GetHtml()
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="qr">
        <div class="col-md-3">
            <div class="table-params"></div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary execute">Apply</button>
        </div>
        <div class="col-md-12">
            @Html.CriteriaBuilder((QueryTransformer)ViewBag.QueryTransformer).GetHtml()
        </div>
        <div class="col-md-12">
            <div class="alert alert-danger"></div>
            <div id="dataExplorerContainer" class="block-flat">
                <!--div id="ur">
                    <span>Use this transformed query for your own implementation:</span>
                    <br />
                    <span class="sql"></span>
                </div-->
            </div>
        </div>
    </div>
</div>

@section styles {
    <link type="text/css" rel="stylesheet" href="https://jqwidgets.com/public/jqwidgets/styles/jqx.base.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.11.0/jsoneditor.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/codemirror.min.css" />

    <style>
        #qb, #qr {
            padding: 5px;
        }

        #jsoneditor {
            height: 500px;
        }

        .link-to-grid-site {
            float: right;
            color: blue !important;
        }

        .jsonPage {
            margin-left: 5px;
            font-weight: bold;
        }

        .execute, .alert-danger {
            display: none;
        }

        .ui-datepicker-title {
            color: black;
        }
    </style>
}

@section scripts {
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://jqwidgets.com/public/jqwidgets/jqx-all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.1/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.1/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-data-grid/2.0.78/react-data-grid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.11.0/jsoneditor.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.26.0/mode/sql/sql.min.js"></script>

    <script src="~/js/queryResults.js"></script>
    <script src="~/js/paramsController.js"></script>
    <script src="~/js/dataExplorer.js"></script>
    <script src="~/js/jqxGridDataExplorer.js"></script>
    <script src="~/js/jsGridDataExplorer.js"></script>
    <script src="~/js/reactGridDataExplorer.js"></script>
    <script src="~/js/jsonDataExplorer.js"></script>

    <script>
        var container = $('#dataExplorerContainer');
        var dataUrl = "QueryResultsDemo/GetData";
        var recordsCountUrl = "QueryResultsDemo/SelectRecordsCount";

        var dataExplorer = new JqxGridDataExplorer(container, dataUrl, recordsCountUrl);
        // var dataExplorer = new JsGridDataExplorer(container, dataUrl, recordsCountUrl);
        // var dataExplorer = new ReactGridDataExplorer(container, dataUrl, recordsCountUrl);
        // var dataExplorer = new JsonDataExplorer(container, dataUrl, recordsCountUrl);

        QueryResultsDemo(dataExplorer);
    </script>
}
