@using ActiveQueryBuilder.Web.Core.HtmlHelpers
@model ActiveQueryBuilder.Web.Server.QueryBuilder
@{
    ViewBag.Title = "Query Modification Demo";
    var controls = Html.QueryBuilder(Model, ViewContext.HttpContext.Request);
}

<div class="row">
    <div class="col-md-12">
        <h1>Query Modification Demo</h1>
        <p>Modify SQL queries programmatically.</p>
    </div>
    <div class="col-md-12">
        <p>
            This sample project demonstrates ability to analyze SQL queries and modify them programmatically. This could be helpful if you want to correct erroneous queries before execution or to restrict manipulations with specific data.
            This demo allows you to load several sample queries and see how they will be changed according to your modification settings.
        </p>
    </div>
    <div class="col-md-12">
        <div id="main-tabs" class="block-flat">
            <ul>
                <li><a href="#sql">SQL Text</a></li>
                <li><a href="#qb">Query Builder</a></li>
            </ul>
            <div id="sql">
                @controls.SqlEditor().GetHtml()
            </div>
            <div id="qb">
                @controls.GetHtml()
                <div class="qb-ui-layout">
                    <div class="qb-ui-layout__top">
                        <div class="qb-ui-layout__left">
                            <div class="qb-ui-structure-tabs">
                                <div class="qb-ui-structure-tabs__tab">
                                    <input type="radio" id="tree-tab" name="qb-tabs" checked />
                                    <label for="tree-tab">Database</label>
                                    <div class="qb-ui-structure-tabs__content">
                                        @controls.ObjectTreeView().GetHtml()
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="qb-ui-layout__right">
                            @controls.SubQueryNavigationBar().GetHtml()
                            @controls.Canvas().GetHtml()
                            @controls.StatusBar().GetHtml()
                            @controls.Grid().GetHtml()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <h3>Modification Settings:</h3>
        <span>Check tables you wish to add to the query.</span>
        <br />
        <span>Check fields you wish to define criteria for.</span>
        <br />
        <input type="checkbox" id="cbCustomers" /><label for="cbCustomers">Customers</label>
        <br />
        <input type="checkbox" id="cbCompanyName" class="marginLeft" disabled="disabled" /><label for="cbCompanyName">CompanyName</label>
        <input type="text" id="tbCompanyName" value="Like 'C%'" disabled="disabled">
        <br />
        <input type="checkbox" ID="cbOrders" /><label for="cbOrders">Orders</label>
        <br />
        <input type="checkbox" id="cbOrderDate" class="marginLeft" disabled="disabled" /><label for="cbOrderDate">OrderDate</label>
        <input type="text" id="tbOrderDate" value="= '01/01/2007'" disabled="disabled" />
    </div>
    <div class="col-md-2">
        <div class="marginTop">
            <input type="button" value="Load Sample Query 1" class="btn btn-primary" id="btn1" />
            <input type="button" value="Load Sample Query 2" class="btn btn-primary" id="btn2" />
            <input type="button" value="Load Sample Query 3" class="btn btn-primary" id="btn3" />
            <br />
            <input type="button" value="Apply Changes" class="marginTop btn btn-primary" id="apply" />
        </div>
    </div>
</div>

@section styles
    {
    <style>
        .marginTop {
            margin-top: 20px;
        }

        .marginLeft {
            margin-left: 10px !important;
        }

        .btn {
            width: 160px;
        }
    </style>
}

@section scripts
    {
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $('#main-tabs').tabs();
        });

        $('#btn1').click(function () {
            AQB.Web.QueryBuilder.setSql('select * from Northwind.dbo.Customers c');
        });

        $('#btn2').click(function () {
            AQB.Web.QueryBuilder.setSql('select * from Northwind.dbo.Orders o');
        });

        $('#btn3').click(function () {
            AQB.Web.QueryBuilder.setSql('select * from Northwind.dbo.Customers c, Northwind.dbo.Orders o');
        });

        $('#cbCustomers').change(function () {
            $('#cbCompanyName').prop('disabled', !this.checked);
        });

        $('#cbCompanyName').change(function () {
            $('#tbCompanyName').prop('disabled', !this.checked);
        });

        $('#cbOrders').change(function () {
            $('#cbOrderDate').prop('disabled', !this.checked);
        });

        $('#cbOrderDate').change(function () {
            $('#tbOrderDate').prop('disabled', !this.checked);
        });

        $('#apply').click(function () {

            var model = {
                customers: document.getElementById('cbCustomers').checked,
                companyName: document.getElementById('cbCompanyName').checked,
                companyNameText: document.getElementById('tbCompanyName').value,
                orders: document.getElementById('cbOrders').checked,
                orderDate: document.getElementById('cbOrderDate').checked,
                orderDateText: document.getElementById('tbOrderDate').value,
            };

            $.ajax({
                url: 'QueryModificationDemo/ApplyChanges',
                data: model,
                success: function () {
                    AQB.Web.QueryBuilder.update();
                }
            });
        });

    </script>

}